meta(charset='utf-8')
block title
	title McServerman
meta(name='viewport', content='width=device-width, initial-scale=1.0,viewport-fit=cover')

link(rel='stylesheet', href='/css', type='text/css')

//- Scripts
script(src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
script(src='https://cdn.jsdelivr.net/npm/moment@2/moment.min.js')
script(src='https://kit.fontawesome.com/f2f926ac2d.js', crossorigin='anonymous', integrity='sha384-7uTRzazbrutfIzOojrJw4QL+wCBwLn03McGtkCd53kDbTPTqB20x+Ah36TGTcRHB')
script(src='/mcsm.js')