extends ../_main
block title
	title Page Title
block content
	h2 Page title
	p Some fun text, or
	include:markdown-it(html) markdown-file-with-raw-html.md

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	4. Page has content (leave blank for coming soon)?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?