doctype html
html
	head
		include includes/head
	body
		.row#header
			.col-1 &nbsp;
			.col-7
				h1 McServerman
			.col-4
				h3: button(onclick='LOAD_PAGE(PAGES.home)'): strong Home
		.row#primary
			block content