extends ../_main
block title
	title Welcome
block content
		br
		br
		br
		br
		center: h1 Loading...

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	4. Page has content (leave blank for coming soon)?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?