.col-12
	center
		h1 Welcome!
		p Welcome to McServerman setup. Here, you can create a brand new server or import an existing server.
		p Please note that this tool is in early development, so please #[strong backup your server] before importing! If you find a bug, please report it on the #[a(href='https://github.com/tycrek/McServerman' target='_blank') GitHub repo].
		br
.col-6
	h2.new-import-headers New server
	#new-server
		form()#new-server-form
			h3 Server type
			input(type='radio' id='vanilla' name='server_type' value='vanilla' checked)
			label(for='server_type') &nbsp;Vanilla
			br
			input(type='radio' id='papermc' name='server_type' value='papermc')
			label(for='server_type') &nbsp;PaperMC
			br
			//-input(type='radio' id='bedrock' name='server_type' value='bedrock')
			//-label(for='server_type') &nbsp;Bedrock
			//-br
			p: em Vanilla refers to #[strong unmodifed] server files directly from Mojang. #[a(href='https://papermc.io' target='_blank') PaperMC] is a fork of #[a(href='https://www.spigotmc.org/wiki/about-spigot/' target='_blank') Spigot] that provides various improvements over both Spigot and Vanilla servers. For a super basic server, choose Vanilla. For added performance and the ability to add mods, choose PaperMC.

			h3 Game version
			select(id='server_version' name='server_version' value='Select')
				include ../includes/versionSelect
			br

			h3 Server name
			em This name is for the folder the server is in, as well as what McServerman knows the server by.
			br
			br
			input(type='text' id='server_name' name='server_name')

			br
			br
			input(type='button' value='Create server' onclick='newServer(this.form)')#new-server-submit

.col-6
	h2.new-import-headers Import server
	#import-server
		form()#import-server-form
			em Values chosen for the type, version, and name don't matter too much; they are primarily used to help keep track of your servers.
			h3 Server type
			input(type='radio' id='vanilla' name='iserver_type' value='vanilla' checked)
			label(for='iserver_type') &nbsp;Vanilla
			br
			input(type='radio' id='papermc' name='iserver_type' value='papermc')
			label(for='iserver_type') &nbsp;PaperMC
			br

			h3 Game version
			select(id='iserver_version' name='iserver_version' value='Select')
				include ../includes/versionSelect
			br

			h3 Server name
			br
			input(type='text' id='iserver_name' name='iserver_name')

			h3 Server path
			em Paste the full path of the server jar file
			br
			br
			input(type='text' id='iserver_jar' name='iserver_jar')

			br
			br
			input(type='button' value='Import server' onclick='importServer(this.form)')#import-server-submit